//
// Utilities
//

$utilities: (
  d:               display,
  m:               margin,
  p:               padding,
  align:           vertical-align,
  align-content:   align-content,
  align-items:     align-items,
  align-self:      align-self,
  flex:            flex-direction,
  float:           float,
  justify-content: justify-content,
  position:        position,
  text:            text-align
);

@each $class-name in -f-class-list() {
  $prefix: -f-prefix($class-name);
  $prop: map-get($utilities, $prefix);
  $exp: -f-exp($class-name);

  @include make-utility($prefix, $prop, -f-split($exp, $separator));
}
