//
// Utilities
//

$utilities: (
  d:    display,
  m:    margin,
  p:    padding,
  flex: flex-direction,
  text: text-align
);

@each $class-name in -f-class-list() {
  $prefix: -f-prefix($class-name);
  $prop: map-get($utilities, $prefix);
  $exp: -f-exp($class-name);

  @include make-utility($prefix, $prop, -f-split($exp, $separator));
}
