$utilities: (
  d:    display,
  flex: flex-direction,
  m:    margin,
  p:    padding,
  text: text-align
);

@function -f-exp($class-name) {
  @return str-slice($class-name, str-index($class-name, "(") + 1, -2);
}

@function -f-split($string, $delimiter: "") {
  @return $string;
}

@mixin make-class($class-name) {
  $list: -f-split(-f-exp($class-name), ".");
  @debug $list;
}

@each $class-name in -f-class-list() {
  @include make-class($class-name);
}
