$utilities: (
  d:    display,
  flex: flex-direction,
  m:    margin,
  p:    padding,
  text: text-align
);

@each $class-name in -f-class-list() {
  $util: -f-util($class-name);
  $prop: map-get($utilities, $util);
  $exp: -f-exp($class-name);

  @include make-utility($util, $prop, -f-split($exp, "."));
}
